[submodule "projects/IAT_Map"]
	path = projects/IAT_Map
	url = https://github.com/dpmartin42/iat-map
[submodule "projects/babynameR"]
	path = projects/babynameR
	url = https://github.com/dpmartin42/babynameR
[submodule "projects/School_SelectR"]
	path = projects/School_SelectR
	url = https://github.com/dpmartin42/school-selectR.git
