---
layout: default
---

<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <span class="post-date">{{ page.date | date: '%B %d, %Y' }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>About</h2>

      <p>
        I am a Senior Data Scientist for Organizational Solutions at McKinsey & Company, interested in
        statistics, data mining/machine learning, education, and open science, among other things. 
        All opinions and views expressed on this blog are my own and do not represent my employer. 
      </p>
      
      {% include comments.html %}

</div>

